*/obj/*
*/bin/*
src/Mono.TextEditor.XWT/bin/*
src/Mono.TextEditor.XWT/obj/*
src/EditorTests/bin/*
src/EditorTests/obj/*
*.suo
*.user
*.pidb
*.userprefs
*.orig
*.exe
*.dll
*.mdb
*.dll.config
*.exe.config

*.DS_Store
.DS_Store
DS_Store